03/24 DSCC NTU Work-learn Attendance {{ date }}
{{ people|length }}/{{ people|length }} Attendance for {{ course[0] }} {{ course[1] }}, {{ start_time }}H

Location: {{ location }}

IC: {{ ic }}

Remarks:
{{ people|join("\n") }}

Attendance Video:
{{ video }}

Attendance Folder:
{{ drive_folder }}