03/24 DSCC NTU Work-learn Attendance {{ date }}
{{ people|length }}/{{ people|length }} Attendance for {{ course[0] }} {{ course[1] }}, {{ lesson_time }}H

Location: {{ location }}

IC: {{ ic }}

Remarks:
{{ people|join("\n") }}

Attendance Video:
{{ video }}

Attendance Folder:
https://drive.google.com/drive/folders/1tpzbKxi94M8DD-cUD1Q0I59US1ZdwTLK